@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  display: flex;
  min-height: 100vh;

  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

aside {
  width: min(25vw, 420px);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fcfaf6;
  font-size: 0.9rem;

  h3 {
    color: #6b6966;
    padding-left: 12px;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      button {
        width: 100%;
        text-align: left;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        line-height: 0;

        display: flex;
        align-items: center;
        gap: 8px;

        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        &:hover {
          background-color: #f2efed;
        }
      }
      button.active {
        background-color: #f9eae3;
        color: #c4382c;

        i.fa-solid {
          color: inherit;
        }
      }
    }
  }

  .my-projects {
    > * + * {
      margin-top: 12px;
    }
  }

  i.fa-solid {
    color: #7a7b76;
    font-size: 1.25rem;
  }

  .add-task-btn {
    color: #c4382c;
    font-weight: 600;
    i {
      color: inherit;
    }
  }
}

main {
  background-color: white;
  padding: 60px;
  flex: 1;

  > * + * {
    margin-top: 16px;
  }

  header {
    p {
      padding-left: 2px;
      font-size: 0.9rem;
      color: #7a7b76;
      i {
        color: inherit;
      }
    }
  }

  > button {
    color: #7a7b76;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    i:first-of-type {
      display: none;
    }

    &:hover {
      color: #c4382c;
    }
  }

  > button:hover i:first-of-type {
    display: inline;
  }
  > button:hover i:last-of-type {
    display: none;
  }

  .task-list {
    li:first-child {
      border-top: #7a7b7688 1px solid;
      border-bottom: #7a7b7688 1px solid;
    }

    li {
      padding: 8px 4px;
      border-bottom: #7a7b7688 1px solid;
      display: grid;
      grid-template-columns: 25px 1fr;
      grid-template-rows: min-content min-content;
      gap: 4px;
      > div:first-of-type {
        padding-top: 1px;
        button {
          border: #7a7b76 1px solid;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          i {
            transition-property: opacity;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            opacity: 0;
          }
        }

        button:hover i {
          opacity: 1;
        }
      }

      article {
        h4 {
          font-weight: 400;
          font-size: 0.9rem;
        }
        p {
          font-weight: 300;
          font-size: 0.75rem;
        }
      }

      div {
        grid-row: span 2;
        display: flex;
        justify-content: space-between;

        font-size: 0.75rem;
        color: #7a7b76;

        div {
          display: flex;
          align-items: center;
          gap: 4px;

          p,
          i:first-of-type {
            color: green;
          }
        }
        button {
          color: inherit;
          cursor: pointer;
        }
      }
    }
  }
}

dialog {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  .overlay {
    width: 100%;
    height: 100%;
    padding: 125px 0;

    > form {
      width: min(75vw, 600px);
      margin: 0 auto;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      padding: 16px;

      input {
        border: none;
        outline: none;
        padding: 0;
      }

      button {
        cursor: pointer;

        &:hover {
          background-color: #f2efed;
        }
      }

      #new-task-input-title {
        font-size: 1.25em;
      }

      #new-task-input-description {
        font-size: 0.9rem;
      }

      > * + * {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }

      > div:nth-child(2),
      > div:nth-child(3) {
        display: flex;
        align-items: center;
        gap: 6px;

        input,
        button {
          padding: 4px 12px;
          border: #7a7b7680 1px solid;
          border-radius: 4px;
          color: #7a7b76;
          font-size: 0.9em;
        }
      }

      > div:nth-child(3) {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #new-task-input-priority {
          border: none;
        }
      }

      > div:nth-child(3)::before {
        position: absolute;

        width: calc(100% + 32px);
        height: 1px;
        background-color: #7a7b7680;
        content: " ";
        top: 0;
        left: -16px;
      }

      #new-task-input-priority {
        padding: 2px;
        border: #7a7b7680 1px solid;
        border-radius: 4px;
        color: #7a7b76;
        font-size: 0.9em;
      }

      #cancel-new-task {
        border: none;
        background: #fcfaf6;

        &:hover {
          background-color: #f2efed;
        }
      }

      #add-task-btn {
        border: none;
        background-color: #c4382c;
        color: white;

        &:hover {
          background-color: #c3392c;
          filter: contrast(125%);
        }
      }
    }
  }
}
