body {
  display: flex;
  min-height: 100vh;
}

aside {
  width: min(25vw, 420px);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fcfaf6;
  font-size: 0.9rem;

  h3 {
    color: #6b6966;
    padding-left: 12px;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      button {
        width: 100%;
        text-align: left;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        line-height: 0;

        display: flex;
        align-items: center;
        gap: 8px;

        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        &:hover {
          background-color: #f2efed;
        }
      }
      button.active {
        background-color: #f9eae3;
        color: #c4382c;

        i.fa-solid {
          color: inherit;
        }
      }
    }
  }

  .my-projects {
    > * + * {
      margin-top: 12px;
    }
  }

  i.fa-solid {
    color: #7a7b76;
    font-size: 1.25rem;
  }

  .add-task {
    color: #c4382c;
    font-weight: 600;
    i {
      color: inherit;
    }
  }
}

main {
  background-color: blue;
  flex: 1;
}
